.Page {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.PageTitle {
  color: #DE3C4B;
  font-weight: bold;
  font-size: 50px;
  margin: 10px;
}

.PageInner {
  max-width: 60%;
  font-size: 30px;
  color: #333;
  padding: 10px;
}

.Img {
  width: 200px;
  height: auto;
}

.ImgCenter {
  margin: 0 auto;
  display: block;
  padding: 20px;
}
